<div class="cv-social-link" style="display: flex">
	<div class="cv-social-link-icon-wrapper">
	  <a 
		href="{{ link.url }}" 
		{% if link.id != 'home' and link.id != 'email' %}target="_blank"{% endif %}
		{% if link.id == 'email' %}
		  class="copy-link" 
		  data-tooltip="Copy" 
		  onclick="copyText(this, '{{ link.description }}')"
		{% endif %}
	  >
		<i class="{{ link.class }}" style="color: {{ link.color }}"></i>
	  </a>
	</div>
	<div class="cv-social-link-text-wrapper">
	  <a 
		href="{{ link.url }}" 
		{% if link.id != 'home' and link.id != 'email' %}target="_blank"{% endif %}
		{% if link.id == 'email' %}
		  class="copy-link" 
		  data-tooltip="Copy" 
		  onclick="copyText(this, '{{ link.description }}')"
		{% endif %}
	  >
		{{ link.description }}
	  </a>
	</div>
  </div>