<header>
	<a href="{{site.baseurl}}/" style="text-align: left !important; text-decoration: none !important;">
		<h3>{{site.title}}</h3>
	</a>
	<div class="parent" style="text-align: right !important; float: right !important;">
		<div class="row">
			<div class="column">
			  <a class="fa-brands fa-linkedin" title="LinkedIn" href="http://linkedin.com/in/atharva-bhagwat" style="text-decoration: none !important; color: #42b983 !important;"></a>
			</div>
			<div class="column">
			  <a class="fa-brands fa-github" title="GitHub" href="http://github.com/atharva-bhagwat" style="text-decoration: none !important; color: #42b983 !important;"></a>
			</div>
			<div class="column">
			  <a class="fa-solid fa-file-lines" title="Resume" onclick="openLink('resume/Resume.pdf')" style="text-decoration: none !important; cursor: pointer !important; color: #42b983 !important;"></a>
			</div>
		  </div>
	</div>
</header>
