code, pre {
  // font-family: Menlo, Monaco, "Courier New", monospace;
  font-family: Consolas, monaco, monospace;
}

code {
  padding: .25rem .5rem;
  font-size: 85%;
  color: $code-color;
  background-color: $near-white;
  border-radius: 3px;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
}

pre code {
  padding: 0;
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
}