<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div id="indicator"></div>
    <div id="page">
      <!-- header -->
      {% include header.html %}
      <!-- nav -->
      {% include nav.html %}
      <!-- page content -->
      <main class="content">
        <div class="author-bio">
          <img class="profile_pic" src="{{page.profile_pic}}" alt="{{page.profile_pic_alt}}" />
          <br>
          <div class="row">
            <div class="column">
              <a class="fa-brands fa-linkedin" title="LinkedIn" href="{{page.linkedin}}" style="text-decoration: none !important;"></a>
            </div>
            <div class="column">
              <a class="fa-brands fa-github" title="GitHub" href="{{page.github}}" style="text-decoration: none !important;"></a>
            </div>
            <div class="column">
              <a class="fa-solid fa-file-lines" title="Resume" href="https://atharva-bhagwat.github.io/resume/Resume.pdf" target="blank" type="pdf" style="text-decoration: none !important;"></a>
            </div>
          </div>
        </div>
        {{content}}
      </main>
      <!-- footer -->
      {% include footer.html %}
    </div>
  </body>
</html>
