<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div id="page">
      <style>
        .title {
          padding: 1%;
          color: #101417;
          font-size: 18px;
          font-weight: bold;
          text-align: center;
          background: #f78e66;
          display: grid;
        }
        .meta {
          font-size: 0.7rem;
          font-weight: normal;
          text-transform: uppercase;
        }
      </style>
      <!-- header -->
      {% include header.html %}
      <!-- nav -->
      {% include nav.html %}
      <!-- page content -->
      <main class="post-list">
        <h3 title="General Kenobi">
          Hello there!
        </h3>
        <p>
          I am Atharva. I am in my final year of masters in computer science at Tandon School of Engineering, NYU. 
          I am interested in working on AI solutions for biological problems. 
          In my free time, I enjoy reading (I am currently reading 'The End of Everything: Astrophysically Speaking'), 
          playing CSGO, and losing elo in chess.
        </p>
        <p class="title" id="projects">Projects</p>
        {{content}}
        <p class="title">New York City</p>
        <div id="carouselControl" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item" data-interval="5000">
              <img src="images/nyc/1.jpeg" class="d-block w-100" alt="???">
            </div>
            <div class="carousel-item active" data-interval="5000">
              <img src="images/nyc/2.jpeg" class="d-block w-100" alt="???">
            </div>
            <div class="carousel-item" data-interval="5000">
              <img src="images/nyc/3.jpeg" class="d-block w-100" alt="???">
            </div>
            <div class="carousel-item" data-interval="5000">
              <img src="images/nyc/4.jpeg" class="d-block w-100" alt="???">
            </div>
            <div class="carousel-item" data-interval="5000">
              <img src="images/nyc/5.jpeg" class="d-block w-100" alt="???">
            </div>
            <div class="carousel-item" data-interval="5000">
              <img src="images/nyc/6.jpeg" class="d-block w-100" alt="???">
            </div>
            <div class="carousel-item" data-interval="5000">
              <img src="images/nyc/7.jpeg" class="d-block w-100" alt="???">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselControl" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselControl" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <!-- <p class="title">Some of My Favorite Songs</p>
        <div style="margin:auto; text-align:center;">
          <iframe allow="autoplay *; encrypted-media *; fullscreen *" frameborder="0" height="400" 
          style="width:100%;max-width:700px;overflow:hidden;background:transparent;" 
          sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" 
          src="https://embed.music.apple.com/us/playlist/fav/pl.u-MDAWWEgFW8Zv4K4"></iframe>
        </div> -->
      </main>
      <!-- footer -->
      {% include footer.html %}
    </div>
    <script>
      $(document).ready(function(){
          $(document).bind("contextmenu",function(e){
             return false;
          });
       });
  </script>
  </body>
</html>
