<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div id="indicator"></div>
    <div id="page">
      <!-- header -->
      {% include header.html %}
      <!-- nav -->
      {% include nav.html %}
      <!-- page content -->
      <main class="content">
        <div class="author-bio">
          <embed src="https://github.com/atharva-bhagwat/atharva-bhagwat.github.io/tree/main/resume/Resume.pdf" type="application/pdf">
        </div>
      </main>
      <!-- footer -->
      {% include footer.html %}
    </div>
  </body>
</html>
